@import './base.css';

#app {
  margin: 0 0;
  padding: 0;
  text-align: center;

  font-weight: normal;
}

/* a,
.green {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
} */

@media (hover: hover) {
  a:hover {
    background-color: var(--sherbert);
    color: var(--vt-c-white) !important
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
